body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height:5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
/* Extra */
  .gradient-background {
    width: 100%;
    height: 5rem;
    font-family: 'Dancing Script', sans-serif !important;
    font-size: 1.2rem;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 2rem;
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    background-position: center;
    animation: gradient-animation 18s ease infinite;
}
  
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#preloader{
  background: #fff url('/images/loader.gif') no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position : fixed;
  z-index: 100;
}


/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right:1rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly ;
}
/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border: none !important;
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
    border: none !important;
    margin-bottom: 2rem;
}

/* Card Effects */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{   
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* Show Page */
.show-img{
    height: 40vh;
}
.btns{
   display: flex; 
}

#map{
    height: 400px;
    width : 60vh;
    border: #222222 solid 1px;
}
.my{
    border: #222222 solid 1px;
    padding: 20%;
}